<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Home - DataBoard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />


    <!--      Semantic           -->
    <link href="/static/semantic/dist/semantic.min.css" type="text/css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="/static/assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://github.com/CDIPSDataScience2016/cdips-datawicked" class="simple-text">
                    DataBoard
                </a>
            </div>
	    
            <ul class="nav">

	      <li class="active">
                    <a href="/index">
                        <i class="pe-7s-map-marker"></i>
                        <p>Home</p>
                    </a>
                </li>

	      <li class="active">
                    <a href="/ml_models">
                        <i class="pe-7s-rocket"></i>
                        <p>Sentiment Models</p>
                    </a>
                </li>

                <li class="active">
                    <a href="/product">
                        <i class="pe-7s-news-paper"></i>
                        <p>Product Reviews</p>
                    </a>
                </li>

		<li class="active">
                    <a href="/topic_models">
                        <i class="pe-7s-graph"></i>
                        <p>Topic Models</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
	<br>

<!--

-->
	       <!--

	       -->
	       <!--
-->
	<!-- PLOTLY DIV -->
	<!-- Sentiment Plot  -->
        <div class="col-md-12" id="sentiment_plot">
          <div class="card">
            <div class="header">
              <h3 class="title">CDIPS Amazon Product Reviews</h3>
            </div>
	    <div class="content">
	      Our work in the 3 week <a href="http://cdips.physics.berkeley.edu/">CDIPS</a> workshop is displayed in this dashboard.<br>
	      Provided with a corpus of product reviews from amazon we set out to do 3 things, sentiment classification, product review trends, and topic modeling.<br>
	      Visit our other pages to see the results.
	    </div>
          </div>
        </div>

	<div class="col-md-6" id="nadeem">
          <div class="card">
            <div class="header">
              <h4 class="title">Nadeem Chaudhry</h4>
            </div>
	    <div class="content">
	      <div class="header" align="center">
		<img src="/static/img/nadeem_head.jpg"
		     class="img-circle" height="275">
	      </div>
	      <br>
	      <p>I am currently working at SAS as a Sr. Solutions Architect supporting data science / engineering with distributed systems and in-stream processing, providing technical consulting support in industry verticals such as Retail, CPG, Media and Communications to design solutions. Prior to joining SAS I have worked at Unisys, Thomson Reuters, Target and Cardpool with roles ranging from engineering to data scientist. My educational background is engineering and applied mathematics.
I enjoyed mentoring and guiding this CDIPS Data Science team where they built this data product from ground up in less than 3 weeks time. </p>
	    </div>
          </div>
        </div>

	<div class="col-md-6" id="bethan">
          <div class="card">
            <div class="header">
	      <a href="https://www.linkedin.com/in/bethan-nichols-916b80122?trk=hp-identity-name">
              <h4 class="title">Bethan Nichols</h4></a>
            </div>
	    <div class="content">
	      <div class="header" align="center">
		<a href="https://www.linkedin.com/in/bethan-nichols-916b80122?trk=hp-identity-name">
		<img src="/static/img/bethan_head.png"
		     class="img-circle" width="275"></a>
	      </div>
	      <br>
	      <p>I am a postdoctoral fellow in Physical Chemistry at Lawrence
	      Berkeley National Lab and my current research focuses on the
	      study of chemical species involved in combustion. I have become
	      interested in applications of machine learning through my use of
	      statistical and image processing techniques to analyse
	      experimental data during my postdoc and graduate studies. My
	      contributions to this product include investigating product
	      review trends and using natural language processing techniques to
	      extract positive and negative sentiments from the reviews.</p>
	    </div>
          </div>
        </div>


	<div class="col-md-6" id="yaning">
          <div class="card">
            <div class="header">
	      <h4 class="title">Yaning Liu</h4>
            </div>
	    <div class="content">
	      <div class="header" align="center">
		<img src="/static/img/yaning_head.jpg"
		     class="img-circle" height="275">
	      </div>
	      <br>
	      <p>I am currently a postdoctoral fellow at Lawrence Berkeley Lab
	      with background in applied mathematics. My research revolves
	      around building computationally efficient surrogate models for
	      expensive models in Earth sciences using for example machine
	      learning methods. My roles in our group for the workshop include
	      comparing various sentiment analysis models and classifiers,
	      performing model cross validation and implementing topic modeling
	      for Amazon reviews.</p>
	    </div>
          </div>
        </div>
	  
	<div class="col-md-6" id="mike">
          <div class="card">
            <div class="header">
	      <a href="https://www.linkedin.com/in/michael-yen-67455310a?trk=nav_responsive_tab_profile_pic">
	      <h4 class="title">Mike Yen</h4></a>
            </div>
	    <div class="content">
	      <div class="header" align="center">
		<a href="https://www.linkedin.com/in/michael-yen-67455310a?trk=nav_responsive_tab_profile_pic">
		<img src="/static/img/mike_head.jpg" class="img-circle"
		     width="275"></a>
	      </div>
	      <br>
	      <p>I am a graduate student in physics teaching the introductory
	      physics class. My time spent teaching this class made me curious
	      about how I could use my technical background of ML and software
	      engineering to better serve my students. This idea has lead me to
	      deploy a web based tutoring system for the biggest course on
	      campus. The data collected from this tutoring system is being used 
	      to dynamically generate hints aimed at improving students' programming style. 
	      Since I have experience building web applications, this dashboard 
	      is my contribution to the CDIPS Data Science workshop.</p>
	    </div>
          </div>
        </div>

    </div>
</div>

</body>

    <!--   Core JS Files   -->
    <script src="/static/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/demo.js"></script>

	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-science',
            	message: "Welcome to <b>DataBoard Dashboard</b> - a CDIPS data driven product."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>

</html>
